<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>   
    <h1><%= title %></h1>
    <p>Panca's App !</p>
    <a href="/auth/login" type="button" class="btn btn-outline-primary">Login</a>
  </body>
</html>
